{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel= "stylesheet" type= "text/css" href= "{% static 'css/account.css' %}">

<script src="{% static 'js/wallet_handlers/metamask.js' %}"></script>




<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
<style>
    .wallet-access-chk {
    width: auto;
    margin: auto;
    /* max-width: 640px; */
    font-family: 'VT323', monospace;
    /* background: #0414a7; */
    /* padding-top: 10%; */
    }

    .neg {
        text-align: center;
        color: rgba(128, 255, 128, 0.8);
    }

    .bg {
    background: #ffffff03;
    padding: 0 15px 2px 13px;
    }

    .nav {
    margin-top: 35px;
    text-align: center;
    }

    .link{
        color: #2672EC;
        cursor: pointer;
        text-decoration: none;
        padding: 0 9px 2px 8px;
    }

    .link:hover, .link:focus{
        background: #161818;
        color: #c8c8c8;
        text-decoration: none !important;
    }
	#status {
		font-size: 34pt;
		display: block;
		margin-bottom: 50px;
		color: #e80202;
	}
</style>




<div class="wallet-access-chk container">
    <h1 class="neg bg" id='status'>Connecting with the Wallet ...</h1>
    <div class="neg" id="wallet-not-connect" style="display: none;">
        <p id="status-detail">Please Connect with the Wallet to send Messages</p>
            <a onclick="window.location.reload();" class="link">Connect with Wallet</a>&nbsp;|&nbsp;<a href="javascript:history.back()" class="link">&lt;&lt; Back</a>
    </div>
</div>




<div class="limiter message-ui" style="display: none;">
    <div class="account-info">
        <div class="wrap-account-info">
            <form class="account-info-form validate-form" method="post">
                <!-- <span class="account-info-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span> -->
                <img src="https://avatars.githubusercontent.com/u/66935336?v=4" class="account-info-form-logo" alt="">

                <span class="account-info-form-title bold-heading p-b-34 p-t-27 ">
                    Account DETAILS
                </span>

                <div class="wrap-info-input validate-input regular-text">
                    <label for="wallet_address">Your Wallet address is</label><br>
                    <input readonly name="wallet_address" type="text" class="form-control" id="wallet_address">
                </div>

                <div class="regular-text">
                    <table>
                    <tr>
                        <th scope="row">Total Messages SEND</th>
                        <td>Test_Data</td>
                    </tr>

                    <tr>
                        <th scope="row">FREE Messages SEND</th>
                        <td>Test_Data</td>
                    </tr>

                    <tr>
                        <th scope="row">PAID Messages SEND</th>
                        <td>Test_Data</td>
                    </tr>
                    </table>
                </div>
                <!-- Task still left to implement -->
                <!--
                Implement Function for handling POST Request
                Implement Function for handling "Download Data" 
                For Example api request may be {wallet_address:<wallet_address>, <Download_Your_Data:<True/False OR 1/0>}
                -->
                
                <div>
                    {% csrf_token %}
                    <input style="margin-top: 30px" class="btn btn-primary btn-lg btn-block" type="submit" value="Download Your Data">
                </div>
            </form>

            <div>
                <input style="margin-top: 30px; background-color: #3ba55d; border-color: #3ba55d;" class="btn btn-primary btn-lg btn-block" onclick="history.back()" value="Back">
            </div>
        </div>
    </div>
</div>
{% endblock %}