<!------ Include the above in your HEAD tag ---------->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> 
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link rel= "stylesheet" type= "text/css" href= "{% static 'css/style.css' %}">
<link rel= "stylesheet" type= "text/css" href= "{% static 'css/beta_msg.css' %}">






<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
<style>
    .wallet-access-chk {
    width: auto;
    margin: auto;
    /* max-width: 640px; */
    font-family: 'VT323', monospace;
    /* background: #0414a7; */
    /* padding-top: 10%; */
    }

    .neg {
        text-align: center;
        color: rgba(128, 255, 128, 0.8);
    }

    .bg {
    background: #ffffff03;
    padding: 0 15px 2px 13px;
    }

    .nav {
    margin-top: 35px;
    text-align: center;
    }

    .link{
        color: #2672EC;
        cursor: pointer;
        text-decoration: none;
        padding: 0 9px 2px 8px;
    }

    .link:hover, .link:focus{
        background: #161818;
        color: #c8c8c8;
        text-decoration: none !important;
    }
	#status {
		font-size: 34pt;
		display: block;
		margin-bottom: 50px;
		color: #e80202;
	}
</style>




<div class="wallet-access-chk container">
    <h1 class="neg bg" id='status'>Connecting with the Wallet ...</h1>
    <div class="neg" id="wallet-not-connect" style="display: none;">
        <p id="status-detail">Please Connect with the Wallet to send Messages</p>
            <a onclick="window.location.reload();" class="link">Connect with Wallet</a>&nbsp;|&nbsp;<a href="javascript:history.back()" class="link">&lt;&lt; Back</a>
    </div>
</div>

<div id="frame" class="message-ui" style="display: none;">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="https://avatars.githubusercontent.com/u/62654117?v=4" class="online" alt="" />
				<p>Arijit Bhowmick</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
                    <input readonly name="wallet_address" type="text" id="wallet_address">
					<!-- <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" /> -->
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				<!-- <li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
						<div class="meta">
							<p class="name">Louis Litt</p>
							<p class="preview">You just got LITT up, Mike.</p>
						</div>
					</div>
				</li>
				<li onclick="view_conversation($(this).attr('address-receiver'))" address-receiver="asdasd" class="contact asdasd active">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="https://i.postimg.cc/cHRb0Xzj/user25.png" alt="" />
						<div class="meta">
							<p class="name">Suraj Disoja</p>
							<p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
						</div>
					</div>
				</li>
				<li onclick="view_conversation($(this).attr('address-receiver'))" address-receiver="0X8CCEF537C24864F566B29FA11ED0ADC113B7BAF9" class="contact 0X8CCEF537C24864F566B29FA11ED0ADC113B7BAF9">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="https://i.postimg.cc/N09hq8Bq/user13.png" alt="">
						<div class="meta">
							<p class="name">Arijit 0X8CCEF537C24864F566B29FA11ED0ADC113B7BAF9</p>
							<p class="preview"><span>You:</span> Added Contact</p>
						</div>
					</div>
				</li> -->
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="showContactForm" onclick="addNewContactForm()"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings" onclick="settings()" type="button" class="btn--stroke btn--small ss-modal-trigger"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>

	<div class="content">
		<div class="contact-profile">
            <img id="receiver-img" src="https://i.postimg.cc/nzP18Fwv/suraj-disoja.jpg" alt="" />
			<!-- <img src="https://i.postimg.cc/nzP18Fwv/suraj-disoja.jpg" alt="" /> -->
			<p id="rcvr_name">Suraj Disoja</p>
			<!-- <h1 id='msg-send-confirm' style="text-align: center;"></h1> -->
			<div class="social-media">
                <!-- <i id="rcvr_wallet" onclick="show_wallet_addr_list()" class='fas fa-wallet'></i> -->
				<!-- <a class="btn" onclick="pop()">Show Box</a> -->
				<div class="startup-logo">
					<img style="width: 70%; border-radius: 0; margin:0; float:none" id="startup-logo" src="https://avatars.githubusercontent.com/u/66935336?v=4" alt="" />

				</div>
				<i id="rcvr-wallet" onclick="wallet_addr_list()" class='fas fa-wallet'></i>

				<div id="msg-send-confirm"><h1></h1></div>

				<div id="rcvr-wallet-lst-box">
					<img id="receiver-wallet-lst-img" src="" alt="" />
					<a class="rcvr-wallet-lst-close" onclick="wallet_addr_list()">X</a><br>
			        <h1>Receiver Wallet Address List</h1>
					<p>asd</p>
					<select id="Receiver_WalletAddresses" name="Receiver Connected Wallets" size="2" multiple="multiple"></select>
				</div>
				
				<div id="new-contact-detail" class="new-contact-detail">
					<div class="header">
						<span>New Contact</span>
						<a class="rcvr-wallet-lst-close" onclick="addNewContactForm()">X</a><br>
					</div>
					
					<p id='newContactValidityStatus'></p><br>
					<input id="newReceiverName" type="text" placeholder="Name"><br><br>
					<input id="newReceiverAddress" type="text" placeholder="Receiver Wallet Address"><br><br>
					<button id="addcontact" onclick="newContact()"><span>Add</span></button>

				</div>

				

				<!-- Settings Window -->
				<div id="settings_tab" class="limiter message-ui settings">
					<div class="settings-info">
						<div class="wrap-settings-info">
					
							<img src="https://avatars.githubusercontent.com/u/66935336?v=4" class="settings-info-logo" alt="">
								
								<span class="account-info-form-title bold-heading">
									SETTINGS
								</span>
								<a class="rcvr-wallet-lst-close" onclick="settings()">X</a><br>
								<label style="display: none;" id="uuid"></label>
							<form class="settings-info-form validate-form" method="post">
								{% csrf_token %}
								<!-- <span class="account-info-form-logo">
									<i class="zmdi zmdi-landscape"></i>
								</span> -->
								
				
								<div class="wrap-info-input validate-input regular-text">
									<label for="wallet_address">Your Active Wallet address is</label><br>
									<input readonly name="wallet_address" type="text" class="form-control" id="settings_wallet_address">
								</div>
				
								<!-- <div class="regular-text">
									<table>
									<tr>
										<th scope="row">Total Messages SEND</th>
										<td>Test_Data</td>
									</tr>
				
									<tr>
										<th scope="row">FREE Messages SEND</th>
										<td>Test_Data</td>
									</tr>
				
									<tr>
										<th scope="row">PAID Messages SEND</th>
										<td>Test_Data</td>
									</tr>
									</table>
								</div> -->

								<!-- Task still left to implement -->
								<!--
								Implement Function for handling POST Request
								Implement Function for handling "Download Data" 
								For Example api request may be {wallet_address:<wallet_address>, <Download_Your_Data:<True/False OR 1/0>}
								-->
								<br>
								<select id="CurrentUser_WalletAddresses" name="Connected Wallets" size="2" multiple="multiple"></select>


								<div>
									
									<!-- <input style="margin-top: 30px" class="btn btn-primary btn-lg btn-block" type="submit" value="Download Your Data"> -->
									<br>
									<button id="downloadYourData" onclick=""><span>Download Your Data</span></button>
								</div>
							</form>
				
							<!-- <div>
								<input style="margin-top: 30px; background-color: #3ba55d; border-color: #3ba55d;" class="btn btn-primary btn-lg btn-block" onclick="history.back()" value="Back">
							</div> -->
						</div>
					</div>
				</div>

				<!-- Settings Window End -->

				<!-- <a class="trigger_popup_fricc">Click here to show the popup</a> -->

				<!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->
				 <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
			</div>
			
		</div>
		<div class="messages">
			<ul>
				<!-- <li class="sent">
					<img src="https://avatars.githubusercontent.com/u/62654117?v=4" alt="" />
					<p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
				</li>
				<li class="replies">
					<img src="https://i.postimg.cc/nzP18Fwv/suraj-disoja.jpg" alt="" />
					<p>When you're backed against the wall, break the god damn thing down.</p>
				</li>
				<li class="replies">
					<img src="https://i.postimg.cc/nzP18Fwv/suraj-disoja.jpg" alt="" />
					<p>Excuses don't win championships.</p>
				</li>
				<li class="sent">
					<img src="https://avatars.githubusercontent.com/u/62654117?v=4" alt="" />
					<p>Oh yeah, did Michael Jordan tell you that?</p>
				</li>
				<li class="replies">
					<img src="https://i.postimg.cc/nzP18Fwv/suraj-disoja.jpg" alt="" />
					<p>No, I told him that.</p>
				</li>
				<li class="replies">
					<img src="https://i.postimg.cc/nzP18Fwv/suraj-disoja.jpg" alt="" />
					<p>What are your choices when someone puts a gun to your head?</p>
				</li>
				<li class="sent">
					<img src="https://avatars.githubusercontent.com/u/62654117?v=4" alt="" />
					<p>What are you talking about? You do what they say or they shoot you.</p>
				</li>
				<li class="replies">
					<img src="https://i.postimg.cc/nzP18Fwv/suraj-disoja.jpg" alt="" />
					<p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
				</li> -->
			</ul>
		</div>
		
			
			<div class="message-input">
				<form  id="send-message"  method="post">
					{% csrf_token %}
				<div class="wrap">
					<input id="receiver" type="hidden" value="" placeholder="Receiver Wallet Address">
					<input id="message" type="text" placeholder="Write your message..." />
					<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
					<button class="free-msg"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
					<button data-price=0 data-name="Paid Message" class="paid-msg"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
					<!-- <button class="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> -->
                    <!-- <input data-price=0 data-name="message" class="btn submit paid-msg" type="submit" value="Send"> -->
					
				
				</div>
		</form>

			</div>
	</div>
	
</div>
<!-- <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script> -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="{% static 'js/beta_msg.js' %}"></script>
<!-- <script src="{% static 'js/wallet_handlers/phantom.js' %}"></script> -->
<script src="{% static 'js/wallet_handlers/metamask.js' %}"></script>

{% endblock %}