{% extends 'base.html' %}
{% block content %}

<div style="margin-top:30px" class="row">
    <div class="col-md-5 offset-3">
        <form class="form-inline">
            <!--Sender-->
            <div class="form-group">
                <label class="sr-only" for="sender">sender</label>
                <input readonly type="text" class="form-control" id="wallet_address" placeholder="sender">
            </div>
            <!--Receiver-->
            <div class="form-group">
                <label class="sr-only" for="receiver">receiver</label>
                <input type="text" class="form-control" id="receiver" placeholder="receiver">
            </div>
            
            <!--Message-->
            <div class="form-group">
                <label class="sr-only" for="message">message</label>
                <input type="text" class="form-control" id="message" placeholder="message">
            </div>
            <!--Submit Button-->
            <button type="submit" class="btn btn-primary mb-2 meta-gray">Submit</button>
            </form>
            </br>
            <div id="output"></div>
            </br>
    </div>
</div>
{% endblock %}