.lbl {
    text-align: right;
    width: 100px;
    white-space: nowrap;
}

.fld {
    width: 100%;
}

.frm {
    display: inline-block;
}

.meta-gray {
    -webkit-filter: grayscale(1);
}
.meta-normal {
    -webkit-filter: grayscale(0);
}