@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Space+Mono&display=swap&family=VT323&display=swap');

.lbl {
    text-align: right;
    width: 100px;
    white-space: nowrap;
}

.fld {
    width: 100%;
}

.frm {
    display: inline-block;
}

.meta-gray {
    -webkit-filter: grayscale(1);
}
.meta-normal {
    -webkit-filter: grayscale(0);
}

.regular-text {
    color: #fff;
    font-family: 'Space Mono', monospace;
}

.bold-heading {
    color: #fff;
    font-family: 'Secular One', sans-serif;
}

.container{
    padding: 1%;
    /* border: 3px solid #202124; */
    border-radius: 2%;
    /* background-color: #202124; */
}
body{
    background-color: #202124;
}